<footer class="ap-footer">
  <div class="container">
    <div class="row gy-4 align-items-center">
      <div class="col-md-4 text-center text-md-start">
        <h5 class="ap-footer__logo">PillaDoc<span>.</span></h5>
        <!-- <p class="ap-footer__brand-text">
          Saolutions es una marca de <strong>P</strong> <br>
          Todos los derechos reservados.
        </p> -->
      </div>

      <div class="col-md-4">
        <ul class="ap-footer__links d-flex flex-wrap justify-content-center gap-3 list-unstyled m-0">
          <li><a href="#">Soporte al usuario</a></li>
          <li><a href="#">Privacidad</a></li>
          <li><a href="#">Devoluciones</a></li>
          <li><a href="#">Responsabilidad</a></li>
        </ul>
      </div>

      <div class="col-md-4 text-center text-md-end">
        <div class="ap-footer__social mb-2">
          <!-- <button mat-icon-button><mat-icon>facebook</mat-icon></button>
          <button mat-icon-button><mat-icon>instagram</mat-icon></button> -->
        </div>
        <p class="ap-footer__copy m-0">
          Copyright © 2026 | Hecho en Venezuela 🇻🇪
        </p>
      </div>
    </div>
  </div>
</footer>